<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <!-- Home Link (for small screens) -->
        <li class="nav-item d-block d-md-none">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="{% url 'home' %}" id="home-link">
                Home
            </a>
        </li>

        <!-- All Products Dropdown -->
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="all-products-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                All Products
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="all-products-link">
                <a href="?sort=price&direction=asc" class="dropdown-item">By Price</a>
                <a href="?sort=rating&direction=desc" class="dropdown-item ">By Rating</a>
                <a href="?sort=category&direction=asc" class="dropdown-item ">By Category</a>
                <a href="" class="dropdown-item">View All</a>
            </div>
        </li>

        <!-- Pet Toys Dropdown -->
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="toys-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Pet Toys
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="toys-link">
                <a href="?category=dog_toys" class="dropdown-item">Dog Toys</a>
                <a href="?category=cat_toys" class="dropdown-item">Cat Toys</a>
                <a href="?category=dog_toys,cat_toys,small_pet_toys" class="dropdown-item">All Pet Toys</a>
            </div>
        </li>

        <!-- Pet Accessories Dropdown -->
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="accessories-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Pet Accessories
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="accessories-link">
                <a href="?category=beds" class="dropdown-item">Beds</a>
                <a href="?category=collars_leads" class="dropdown-item">Collars & Leads</a>
                <a href="?category=carriers" class="dropdown-item">Carriers & Travel</a>
                <a href="?category=food" class="dropdown-item">Food & Treats</a>
                <a href="?category=bowls_feeders" class="dropdown-item">Bowls & Feeders</a>
                <a href="?category=grooming" class="dropdown-item">Grooming Supplies</a>
                <a href="?category=beds,collars_leads,carriers,food,bowls_feeders,grooming" class="dropdown-item">All Accessories</a>
            </div>
        </li>

        <!-- Special Offers Dropdown -->
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black" href="#" id="specials-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Special Offers
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="specials-link">
                <a href="?category=new_arrivals" class="dropdown-item">New Arrivals</a>
                <a href="?category=deals" class="dropdown-item">Deals</a>
                <a href="?category=clearance" class="dropdown-item">Clearance</a>
                <a href="?category=new_arrivals,deals,clearance" class="dropdown-item">All Specials</a>
            </div>
        </li>
    </ul>
</div>